#camera {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

#canvas {
    width: 320px; 
    height: 240px;
    margin-top: 20px;
}

body {
    font-family: 'Open+Sans', sans-serif;
}
.chat-message {
    max-width: 75%;
    margin-bottom: 0.5rem;
}
.simulation-button.active {
    background-color: #4F46E5;
    color: white;
}
.chat-message p {
    margin: 0;
}
.doctor {
    background-color: #e2e8f0;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-left: auto;
}
.patient {
    background-color: #fecaca;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}
.feedback {
    background-color: #fefcbf;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
}